section.do-no-track {
  .list-item {
    color: inherit;
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .divider {
    border-top: 1px dashed rgba(255, 255, 255, .25);
    flex: 1 1 0;
    margin-right: 10px;
    margin-top: .80em;
  }
}
